In [2]:
import os
import glob
import pandas as pd
import numpy as np

In [35]:
df = pd.concat([pd.read_csv(file_) for file_ in glob.glob(os.path.join('../data/', '*'))], ignore_index=True)

### The Data

In [57]:
df.head().T

,0,1,2,3,4
year,2016,2016,2016,2016,2016
ocid,ocds-5wno2w-CE-20160000536478-586277,ocds-5wno2w-CE-20160000536479-586277,ocds-5wno2w-CE-20160000536480-586277,ocds-5wno2w-CE-20160000536481-586277,ocds-5wno2w-CE-20160000536482-586277
date,2016-05-16T00:00:00-05:00,2016-05-16T00:00:00-05:00,2016-05-16T00:00:00-05:00,2016-05-16T00:00:00-05:00,2016-05-16T00:00:00-05:00
region,CHIMBORAZO,CHIMBORAZO,CHIMBORAZO,CHIMBORAZO,CHIMBORAZO
title,Orden de compra CE-20160000536478,Orden de compra CE-20160000536479,Orden de compra CE-20160000536480,Orden de compra CE-20160000536481,Orden de compra CE-20160000536482
description,Orden de compra para adquirir los siguientes ...,Orden de compra para adquirir los siguientes ...,Orden de compra para adquirir los siguientes ...,Orden de compra para adquirir los siguientes ...,Orden de compra para adquirir los siguientes ...
method,direct,direct,direct,direct,direct
suppliers,KRONOS LABORATORIOS C. LTDA.,KRONOS LABORATORIOS C. LTDA.,LABORATORIOS H.G. C.A.,LABORATORIOS INDUSTRIALES FARMACEUTICOS ECUAT...,LABORATORIOS INDUSTRIALES FARMACEUTICOS ECUAT...
buyer,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...
amount,504.000000,376.000000,516.000000,136.000000,155.200000
budget,504,376,516,136,155.2

### Duplicates

In [61]:
# 346875 duplicates found and removed
def get_shape(df):
    print(df.shape)
    return df

(df
 .pipe(get_shape)
 .drop_duplicates()
 .pipe(get_shape)
)

(1561991, 11)
(1215116, 11)

,year,ocid,date,region,title,description,method,suppliers,buyer,amount,budget
0,2016,ocds-5wno2w-CE-20160000536478-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536478,Orden de compra para adquirir los siguientes ...,direct,KRONOS LABORATORIOS C. LTDA.,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,504.000000,504
1,2016,ocds-5wno2w-CE-20160000536479-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536479,Orden de compra para adquirir los siguientes ...,direct,KRONOS LABORATORIOS C. LTDA.,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,376.000000,376
2,2016,ocds-5wno2w-CE-20160000536480-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536480,Orden de compra para adquirir los siguientes ...,direct,LABORATORIOS H.G. C.A.,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,516.000000,516
3,2016,ocds-5wno2w-CE-20160000536481-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536481,Orden de compra para adquirir los siguientes ...,direct,LABORATORIOS INDUSTRIALES FARMACEUTICOS ECUAT...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,136.000000,136
4,2016,ocds-5wno2w-CE-20160000536482-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536482,Orden de compra para adquirir los siguientes ...,direct,LABORATORIOS INDUSTRIALES FARMACEUTICOS ECUAT...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,155.200000,155.2
...,...,...,...,...,...,...,...,...,...,...,...
1561977,2022,ocds-5wno2w-RE-CSPS-UNAE-006-202-607247,2022-08-04T08:57:28-05:00,CAÑAR,RE-CSPS-UNAE-006-202-607247,Contratación de servicios comunicacionales pa...,limited,None,UNIVERSIDAD NACIONAL DE EDUCACION UNAE,50050.000000,55672.11
1561978,2022,ocds-5wno2w-RE-GADCG-018-2022-89167,2022-07-30T08:24:05-05:00,BOLIVAR,RE-GADCG-018-2022-89167,SERVICIO DE DIFUSIÓN PARA EL MEJORAMIENTO DE ...,direct,None,GOBIERNO AUTÓNOMO DESCENTRALIZADO DEL CANTÓN ...,3200.000000,3200
1561982,2022,ocds-5wno2w-CE-20220002245568-43246,2022-07-26T00:00:00-05:00,PICHINCHA,Orden de compra CE-20220002245568,Orden de compra para adquirir los siguientes ...,direct,PHARMABRAND S.A.,HOSPITAL DE ESPECIALIDADES FUERZAS ARMADAS NO. 1,2.478000,2.478
1561985,2022,ocds-5wno2w-COTS-HGPT-001-2022-2418,2022-07-08T07:43:41-05:00,TUNGURAHUA,COTS-HGPT-001-2022-2418,PROVISIÓN DE COMBUSTIBLE PARA LOS VEHÍCULOS M...,open,None,GOBIERNO PROVINCIAL DE TUNGURAHUA,278568.080000,278568.08
1561986,2022,ocds-5wno2w-COTO-GADMCH-002-2022-43412,2022-07-21T08:26:55-05:00,MANABI,COTO-GADMCH-002-2022-43412,RECONSTRUCCION DEL PARQUE DEL PADRE Y CONSTRU...,open,None,MUNICIPIO DE CHONE,245451.127300,248932.44

### Missing Values

In [64]:
(df
 .drop_duplicates()
 [~(df
    .drop_duplicates()
    .region
    .str
    .contains('^\s\d\d?'))]
 .replace('None', np.nan)
 .isna()
 .groupby(df.year)
 .mean()
 .style
 .format(lambda n: '{:.4f}'.format(n*100))
)

In [79]:
(df
 [~(df
    .region
    .str
    .contains('^\s\d\d?'))]
 .applymap(lambda n: n.strip().lower().replace('none', '') if isinstance(n, str) else n)
 # .apply(lambda s_:s_.replace('none', ''))
 # .isna()
 # .groupby(df.region)
 # .mean()
 # .style
 # .format(lambda n: '{:.4f}'.format(n*100))
)

,year,ocid,date,region,title,description,method,suppliers,buyer,amount,budget
0,2016,ocds-5wno2w-ce-20160000536478-586277,2016-05-16t00:00:00-05:00,chimborazo,orden de compra ce-20160000536478,orden de compra para adquirir los siguientes p...,direct,kronos laboratorios c. ltda.,direccion distrital 06d03-cumanda-pallatanga-s...,504.000000,504
1,2016,ocds-5wno2w-ce-20160000536479-586277,2016-05-16t00:00:00-05:00,chimborazo,orden de compra ce-20160000536479,orden de compra para adquirir los siguientes p...,direct,kronos laboratorios c. ltda.,direccion distrital 06d03-cumanda-pallatanga-s...,376.000000,376
2,2016,ocds-5wno2w-ce-20160000536480-586277,2016-05-16t00:00:00-05:00,chimborazo,orden de compra ce-20160000536480,orden de compra para adquirir los siguientes p...,direct,laboratorios h.g. c.a.,direccion distrital 06d03-cumanda-pallatanga-s...,516.000000,516
3,2016,ocds-5wno2w-ce-20160000536481-586277,2016-05-16t00:00:00-05:00,chimborazo,orden de compra ce-20160000536481,orden de compra para adquirir los siguientes p...,direct,laboratorios industriales farmaceuticos ecuato...,direccion distrital 06d03-cumanda-pallatanga-s...,136.000000,136
4,2016,ocds-5wno2w-ce-20160000536482-586277,2016-05-16t00:00:00-05:00,chimborazo,orden de compra ce-20160000536482,orden de compra para adquirir los siguientes p...,direct,laboratorios industriales farmaceuticos ecuato...,direccion distrital 06d03-cumanda-pallatanga-s...,155.200000,155.2
...,...,...,...,...,...,...,...,...,...,...,...
1561986,2022,ocds-5wno2w-coto-gadmch-002-2022-43412,2022-07-21t08:26:55-05:00,manabi,coto-gadmch-002-2022-43412,reconstruccion del parque del padre y construc...,open,,municipio de chone,245451.127300,248932.44
1561987,2022,ocds-5wno2w-lics-cz3-hba-001-202-121258,2022-06-24t07:29:04-05:00,chimborazo,lics-cz3-hba-001-202-121258,contratación del servicio de pólizas de seguro...,open,,hospital basico alausi,4267.150000,9448.29
1561988,2022,ocds-5wno2w-re1-ra-gadcc-004-202-45403,2022-06-09t07:08:43-05:00,loja,re1-ra-gadcc-004-202-45403,adquisicion de repuestos menores para el arreg...,direct,,municipio de calvas,0.000000,23377.99
1561989,2022,ocds-5wno2w-re-cep-gzar-01-2022-31595,2022-07-15t08:34:31-05:00,el oro,re-cep-gzar-01-2022-31595,trabajos de remediación superficial y de galer...,direct,,gobierno autonomo descentralizado municipal de...,1600512.880000,1600512.88
1561990,2022,ocds-5wno2w-re-cscd-eeasa-063-22-3233,2022-08-03t08:28:03-05:00,tungurahua,re-cscd-eeasa-063-22-3233,servicios de comunicación y difusión del accio...,direct,,empresa electrica ambato regional centro norte...,73374.610000,73374.61

In [65]:
(df
 [~(df
    .region
    .str
    .contains('^\s\d\d?'))]
 .apply(lambda s_:s_.)
)

0       NaN
1    lokita
2    poyito
3       NaN
dtype: object

### Memory

In [155]:
(df
 .memory_usage(deep=True)
 .apply(lambda s_: s_ / 1000000)
 .pipe(lambda df_: pd.concat([df_, df.dtypes], axis = 1))
 .rename(columns={0:'memory', 1:'dtype'})
)

                 memory   dtype
Index         12.495928     NaN
year          12.495928   int64
ocid         146.111533  object
date         129.644349  object
region       104.275575  object
title        139.833061  object
description  256.879964  object
method       103.584980  object
suppliers    153.588971  object
buyer        169.779263  object
amount       105.983935  object
budget        99.851350  object

### Numeric Types

In [ ]:
for size in ['float16', 'float32', 'float64']:
    print(f'{size:}{np.finfo(size)}')

### Non-Numeric Types

### Datetime Types

### Tweak Contrataciones

### Anomalies

#### Region column contains estranged values

In [22]:
(df
 .region
 .unique()
)

array([' CHIMBORAZO', ' PICHINCHA', ' None', ' GALAPAGOS', ' TUNGURAHUA',
       ' LOJA', ' CAÑAR', ' GUAYAS', ' ORELLANA', ' AZUAY', ' CARCHI',
       ' MANABI', ' SANTA ELENA', ' NAPO', ' IMBABURA', ' EL ORO',
       ' MORONA SANTIAGO', ' BOLIVAR', ' LOS RIOS', ' SUCUMBIOS',
       ' SANTO DOMINGO DE LOS TSACHILAS', ' COTOPAXI', ' PASTAZA',
       ' ESMERALDAS', ' ZAMORA CHINCHIPE', ' 2016-10-03T00:00:00-05:00',
       ' 2017-05-24T00:00:00-05:00', ' 2017-06-08T00:00:00-05:00',
       ' 2017-11-15T00:00:00-05:00', ' 2017-02-20T00:00:00-05:00',
       ' 2017-09-28T00:00:00-05:00', ' 2017-10-11T00:00:00-05:00',
       ' 2017-07-18T00:00:00-05:00', ' 2017-10-10T00:00:00-05:00',
       ' 2017-10-26T00:00:00-05:00', ' 2018-03-26T00:00:00-05:00',
       ' 2018-11-15T00:00:00-05:00', ' 2018-05-03T00:00:00-05:00',
       ' 2018-05-07T00:00:00-05:00', ' 2018-03-28T00:00:00-05:00',
       ' 2019-02-07T00:00:00-05:00', ' 2019-10-01T00:00:00-05:00',
       ' 2019-12-03T00:00:00-05:00', ' 2020-09-08T00:00:00-05:00',
       ' 2020-12-01T00:00:00-05:00', ' 2020-03-23T00:00:00-05:00',
       ' 2020-07-17T00:00:00-05:00', ' 2020-10-27T00:00:00-05:00',
       ' 2021-03-04T00:00:00-05:00', ' 2021-09-22T00:00:00-05:00',
       ' 2022-07-30T08:23:47-05:00', ' 2022-07-11T00:00:00-05:00',
       ' 2022-07-26T08:12:04-05:00', ' 2022-09-03T09:21:08-05:00',
       ' 2022-08-23T09:03:30-05:00'], dtype=object)